---

---

<footer class="flex flex-col items-center justify-center bg-section-bg py-24">
	<div class="mx-auto w-full max-w-7xl px-8 text-center font-bold text-white">JWW &copy; 2023. All Rights Reserved.</div>
</footer>
