---
export interface Props {
	text: string
}

const { text } = Astro.props
---

<li
	class="flex gap-4 py-2 text-2xl font-bold text-white"
	style="text-shadow: 1px 1px 2px black;">
	<img src="/bullet-icon.svg" />{text}
</li>
